.header {
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(231, 231, 231);
}
.left-section {
    display: flex;
    align-items: center;
}
.hamburger {
    width: 35px;
    margin-left: 21px;
    margin-right: 28px;
}
.youtube-logo {
    width: 100px;
}
.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 600px;
    display: flex;
    align-items: center;
}
.search-bar {
    display: flex;
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192,192,192);
    border-radius: 3px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.15);
    width: 0;
}
.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}
.search-button {
    height: 39px;
    width: 66px;
    border-width: 1px;
    background-color: rgb(240,240,240);
    border-style: solid;
    border-color: rgb(192,192,192);
    margin-left: -1px;
    margin-right: 15px;
}
.voice-search-button,
.search-button,
.upload-icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    font-family: Roboto, Arial;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip {
    opacity: 1;
}
.search-icon {
    height: 25px;
}
.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(244, 244, 244);
}
.voice-search-icon {
    height: 24px;
    
}
.right-section {
    width: 280px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.upload-icon {
    height: 28px;
}
.youtube-apps-icon {
    height: 28px;
}
.notifications-icon {
    height: 28px;
}
.notification-icon-container {
    position: relative;
}
.notification-count {
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: rgb(157, 24, 24);
    color: white;
    font-family: Roboto, Arial;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 10px;
}
.cat1-icon {
    height: 45px;
    width: 45px;
    border-radius: 30px;
}