
.thumbnail {
    width: 100%;
    /* object-fit: contain;
    object-position: bottom;
    border-width: 2px;
    border-style: solid;
    border-color: red; */
}
.video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}
/* .video-author,
.video-stats {
    display: inline-block; */
.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.channel-icon {
    vertical-align: top;
}
.icon-img {
    width: 40px;
    border-radius: 30px;
}
.thumbnail-row {
    margin-bottom: 10px;
    position: relative;
}
.video-author,
.video-stats {
    font-size: 14px;
    color: rgb(96,96,96);
}
.video-author {
    margin-bottom: 5px;
}
.videos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 750px) {
    .videos-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:751px) and (min-width:999px) {
    .videos-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .videos-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.video-time {
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 5px;
}